{% extends "cassad_base.html" %}
{% load tags %}
{% block head %}
<script type="text/javascript" src="{% media "cassad/js/jquery.colorbox.js" %}"></script>
<link type="text/css" rel="stylesheet" href="{% media "cassad/colorbox.css" %}" />
<script type="text/javascript" src="{% media "cassad/js/jquery.ui.core.js" %}"></script>
<script type="text/javascript" src="{% media "cassad/js/jquery.scrollfollow.js" %}"></script>
<script type="text/javascript" src="{% media "cassad/bootstrap.js" %}"></script>
<link type="text/css" rel="stylesheet" href="{% media "cassad/bootstrap.css" %}" />
<script type="text/javascript">
$(document).ready(function(){
    request_next_page(bind_scroll)
    $('#tag-button').colorbox({inline: 'true', width: '50%', href: '#tagdialog'});
    $('#taginput').typeahead({ source: ["{{ tags|join:'", "' }}"], items: 5, });
    $('#tagform').submit(function() {
        var val = $('#taginput').val();
        if (val.length == 0)
            return false;
        var tag = $('<div/>');
        tag.attr('class', 'taglive');
        tag.text(val);
        $('#taglivebar').append(tag);
        $('#taginput').val('');
        return false;
    });
})
var last = "";

function bind_scroll() {
    $(window).bind('scroll', function() {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) { 
            $(window).unbind('scroll')
            request_next_page(bind_scroll)
        }
    }) 
}

function request_next_page(callback) {
    $.ajax({
        type: "GET",
        url: "{{ callback }}" + last,
        timeout: 15000,
        success: function(d) {
            last = d.last;
            var pack = $("<ul class='imagepack'></ul>")
            for(var i=0; i<d.pictures.length; i++) {
                var p = d.pictures[i]
                var buf = []
                var cc = p.tags.length > 0 ? 'thumb tagged' : 'thumb'
                buf.push("<li class='" + cc + "' thumb_id='" + p.id + "' tags='" + p.tags + "'>")
                var s = p.width > p.height ? "wi" : "hi";
                var factor = Math.min(200 / p.width, 200 / p.height)
                var w = p.width * factor
                var h = p.height * factor
                buf.push("<img class='image' src='/thumbnails/" + p.thumb + "' style='width:" + w + "px;height:" + h +"px' />")
                buf.push("<div class='overlay overlay-top'></div>")
                buf.push("<div class='overlay overlay-bottom'>")
                buf.push(p.width + "x" + p.height)
                buf.push("</div>")
                buf.push("</li>")
                
                var elem_html = buf.join('')
                pack.append(elem_html)
            }
            var brick = $("<div class='brick'><a href='" + window.location + last + "'>Page</a></div>")
            pack.append(brick)

            if ($('.imagepack').length == 0)
                $('#page').append(pack)
            else
                $(".imagepack:last").after(pack)
            if (last != '')
                callback()
        }
    });
}

$(".image").live('click', function(){
    var thumb = $(this).parent('.thumb')
    thumb.toggleClass('selected')
});

$(".thumb").live('mouseenter', function(){ $(this).find(".overlay").toggle(); });
$(".thumb").live('mouseleave', function(){ $(this).find(".overlay").toggle(); });

$("#tag-button").live('click', function() {

    var tags = []
    $('.selected').each(function(index, elem) {
        var elem_tags = $(elem).attr('tags').split(',')
        for (var i=0; i<elem_tags.length; i++) {
            var t = elem_tags[i]
            if ((tags.indexOf(t) == -1)&&(t.length > 0))
                tags.push(t)
        }
    });
    var taglivebar = $('#taglivebar');
    taglivebar.children().remove();
    for (var i=0; i<tags.length; i++) {
        var tagelem = $('<div />');
        tagelem.attr('class', 'taglive');
        tagelem.text(tags[i]);
        taglivebar.append(tagelem);
    }
    $('#taginput').focus();
//    $('#taginput').val(tags.join(','))
})

$('#tagcancel').live('click', function() {
    $.colorbox.close();
})
$('#tagsave').live('click', function() {
    $.colorbox.close();

    var tags = [];
    $('#taglivebar').children().each(function(idx, elem) {
        tags.push($(elem).text());
    });
    tags = tags.join(', ');
//    var tags = $('#taginput').val()
    var selected = []
    $('.selected').each(function(index, elem) {
        selected.push($(elem).attr("thumb_id"))
        $(elem).attr('tags', tags)
    })
    $.ajax({
        type: "GET",
        data: "selected=" + selected.join(',') + "&" + "tags=" + tags,
        url: "/cassad/addtags",
        timeout: 15000,
        success: function(d) {
            $('.selected').removeClass('selected')
        }
    })
})

$('#del-button').live('click', function() {
    var selected = []
    $('.selected').each(function(index, elem) {
        selected.push($(elem).attr("thumb_id"))
    })
    if (selected.length == 0)
        return false;
    if (!confirm('Are you sure you want to delete selected items?'))
        return false;
    $.ajax({
        type: "GET",
        data: "selected=" + selected.join(','),
        url: "/cassad/delete",
        timeout: 15000,
        success: function(d) {
            $('.selected').remove()
        }
    })
})

$('#clean-button').live('click', function() {
    $('.imagepack:not(:last)').remove()
})

$(function() {
    $('.tag').click(function() {
//        var text = $('#taginput').val();
//        if (text.length > 0)
//            text += ", ";
//        $('#taginput').val(text + $(this).text());
        var val = $(this).text();
        var tag = $('<div/>');
        tag.attr('class', 'taglive');
        tag.text(val);
        $('#taglivebar').append(tag);

    });
});

$('.overlay-top').live('click', function(){
    var id = $(this).parents('.thumb').attr('thumb_id');
    window.open('/cassad/image/' + id, '_blank');
});

$('.taglive').live('click', function(){
    var pthis = $(this);
    pthis.remove();
});

</script>
<style type="text/css">
.thumb { display:inline-block; margin:10px; border: solid 2px #1e1e1e; position: relative; }
.image { vertical-align: middle; border: solid 2px #FFFAF2; }
.imagepack { list-style-type: none; text-align: center; padding: 20px 0 0 2em; }
.selected { border: solid 2px red; }
.tagged { border: solid 2px blue; }
.tagged.selected { border: solid 2px red; }
#manage { position: fixed; left: 0; top: 40%; width: 1.5em; text-align: center; height: 10em; line-height: 1em; }
.manage-button { position: relative; margin: 0; padding: 0.25em; }
#del-button { background: blue; }
#tag-button { background: red; }
#clean-button { background: blue; }
.overlay-top { background: red; position: absolute; width: 10px; height: 10px; top: 0; right: 0; display: none; }
.overlay-bottom { background: #0A0A0A; position: absolute; width: 100%; bottom: 0; display: none; height: 1.2em; }
body { background: #1E1E1E; color: #C6C6C6; }
#tagdialog { width: 300px; height: 300px; }
.tag { background: blue; color: white; padding: 2px; margin: 2px; float: left; }
.taglive { background: red; color: white; padding: 2px; margin: 2px; float: left; }
.brick { background: black; color: #66666; width: 100%; height: 30px; }
.dropdown-menu { z-index: 9999; }
</style>
{% endblock %}
{% block content %}
<div id="manage">
    <div class="manage-button" id="clean-button">C L E</div>
    <div class="manage-button" id="tag-button">T A G</div>
    <div class="manage-button" id="del-button">D E L</div>
</div>
<div style="display:none;">
<div id="tagdialog">
    <ul style="list-style-type: none;">
        <li>
            <div id="taglivebar"></div>
        </li>
        <li>
            <form id="tagform"  action="">
                <input type="text" id="taginput" style="width: 100%;" />
                <input type="submit" value="Go" style="display: none;" />
            </form>
        </li>
        <li>
            <button type="button" id="tagsave">save</button>
            <button type="button" id="tagcancel">cancel</button>
        </li>
    </ul>
    {% for t in tags %}
        <div class="tag">{{ t }}</div>
    {% endfor %}
</div>
</div>
{% endblock %}
