{% extends "cassad_base.html" %}
{% load tags %}
{% block head %}
<script type="text/javascript" src="{% media "cassad/js/jquery.colorbox.js" %}"></script>
<link type="text/css" rel="stylesheet" href="{% media "cassad/colorbox.css" %}" />
<script type="text/javascript" src="{% media "cassad/bootstrap.js" %}"></script>
<link type="text/css" rel="stylesheet" href="{% media "cassad/bootstrap.css" %}" />
<script type="text/javascript" src="{% media "cassad/app.js"%}"></script>
<link type="test/css" rel="stylesheet" href="{% media "cassad/app.css" %}" />
<script type="text/javascript">
var tag_list = ["{{ tags|join:'", "' }}"];
var callback_url = "{{ callback }}";
</script>
{% endblock %}
{% block content %}
<div id="manage">
    <div class="manage-button" id="clean-button">C L E</div>
    <div class="manage-button" id="tag-button">T A G</div>
    <div class="manage-button" id="del-button">D E L</div>
</div>
<div style="display:none;">
<div id="tagdialog">
    <ul style="list-style-type: none;">
        <li>
            <div id="taglivebar"></div>
        </li>
        <li>
            <form id="tagform"  action="">
                <input type="text" id="taginput" style="width: 100%;" />
                <input type="submit" value="Go" style="display: none;" />
            </form>
        </li>
        <li>
            <button type="button" id="tagsave">save</button>
            <button type="button" id="tagcancel">cancel</button>
        </li>
        <li>
            {% for t in tags %}
                <div class="tag">{{ t }}</div>
            {% endfor %}
        </li>
    </ul>
</div>
</div>
{% endblock %}
